* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-size: 30px;
}

#board {
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
    background: url('/image/board.jpg') no-repeat;
}

#messageArea {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(157, 211, 85);
    padding: 5px;
    background-color: rgba(84, 168, 24, 0.486);
    border-bottom: 1px solid rgba(84, 175, 19, 0.733);
    border-right: 1px solid rgba(84, 175, 19, 0.733);
    border-radius: 3px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 2px;
}

table {
    position: absolute;
    left: 173px;
    top: 98px;
    border-spacing: 0px;
}

td {
    width: 94px;
    height: 94px;
}

form {
    position: absolute;
    bottom: -75px;
    right: 0;
    padding: 15px;
    border-radius: 2px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

form input[type=text],
form input[type=button] {
    padding: 10px;
    border-radius: 4px;  
    letter-spacing: 2px;
    font-size: 1em;
}

form input[type=text] {    
    color: rgb(157, 211, 85);
    background-color: rgba(66, 138, 15, 0.486);
    border-color: rgba(84, 175, 19, 0.733);
}

input[type="text"]::placeholder {
    color: rgb(160, 231, 67);
} 

form input[type=button] {
    font-weight: bold;
    cursor: pointer;
    border: none;
    /* background: rgb(44, 92, 9)  radial-gradient(circle at 0 0, rgb(186, 235, 152), rgb(117, 163, 84)); */
    background: rgb(97, 97, 97)  radial-gradient(circle at 0 0, rgb(238, 243, 235), rgb(169, 172, 168));
    box-shadow:
        inset rgba(0,0,0,.5) -3px -3px 8px,
        inset rgba(255,255,255,.9) 3px 3px 8px,
        rgba(0,0,0,.8) 3px 3px 8px -3px;
}

form input[type=button]:hover {
    background: linear-gradient(to top left, rgb(253, 7, 7), rgb(236, 84, 24),rgb(245, 241, 11)) rgb(0, 0, 0) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow:
        inset rgba(0,0,0,.5) -3px -3px 8px,
        inset rgba(51, 50, 50, 0.9) 3px 3px 8px,
        rgba(0,0,0,.8) 3px 3px 8px -3px;   
}

.hit {
    background: url('/image/ship.png') no-repeat center center;
}

.miss {
    background: url('/image/miss.png') no-repeat center center;
}


/* td {
    border: 2px solid red;
} */